@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    border: 2px solid #cfcdcd !important;
    font-size: 21px !important;
    color: black !important;
    width: 100px;
    border-radius: 0px !important;
    height: 6vh;
}
.active{
    color: #ff751a !important;
}
.bg-active{
    background-color: #f4be99 !important;
}
.nav-link{
    color: black;
    font-size: 23px;
}
.flag{
    height:3vh;
    width:30px;
    border-radius: 5px; 
    margin: 5px;
}
.navbar .dropdown button{
    width: 150px;
    border: 2px solid #cfcdcd !important;
    color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}

/* hero */
.banner{
    background: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    
    position: relative;
}
.btn-group{
    width:170px;
    margin: 0px 40px;
}
.btn-group button{
    padding: 15px;
    width: 250px;
    color: #888888;
    margin-bottom: 10px!important;
}
.border{
    border-radius: 20px ;
    background: #ffff;
    position: absolute;
    top: 240px;
    left: 335px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width:50rem;
    height: 18vh;
}
.bg-orange{
    background-color:  #ff751a;
    color: white;
    width: 170px;
    padding: 40px;
}
.shadow{
    border: 1px solid #dbd9d9;
}
.button{
    background-color: #ff751a;
    border-radius: 5%;
    margin-bottom: 10px;
}
.empty{
    height: 20vh;
}

/* health-banner*/
.health-dept{
    margin-top:150px;
}
.health-dept h2,.dept-cards2 h2{
    text-align: center;
}
.health-dept h2 b, .dept-cards2 h2 b{
    font-size: 45px;
    color: grey;
    font-weight: 800;
}
.health-dept h2 span,.dept-cards2 h2 span{
    font-size: 45px;
    color: grey;
}
.profiles,.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 70px 100px;
   
}
.profile,.card{
    border: 2px solid rgb(231, 229, 229);
    margin: 20px;
    border-radius: 20px;
    width: 150px; 
    height: 20vh; 
    padding: 20px 0 30px 0;  
}
/*.card{
    height: 42vh!important; 
}*/
.text{
    text-align: center;
    padding: 10px;
}
.profile div{
    text-align: center;
    padding: 5px;
    font-size: 12px;
}
.fa-solid{
    font-size: 50px; 
    color: black;
}
.decor
{
    text-decoration: underline;
}

/* text-banner*/
.orange{    
    height: 17vh;
    background-color:  #fda266;
    text-align: center;
    padding: 40px;
}
h2 b,h2 span{
    color: white;
    font-size: 45px;
}

/* cards-dept */

    .card{
        width: 250px;
        height: 40vh;
        margin:20px 8px;
   }
   .card img{
       position: absolute;
       top: 0;
       z-index: 1;
   }
   .new{
       color: white!important;
       background-color:#ff751a;
       width: 80px;
       text-align: center;
       position: absolute;
       top: 0;
       border-bottom-right-radius:10px ;
       z-index: 2;
   }
   .details{
       position: absolute;
       top: 120px;
       margin-top: 3px!important;
   }
   .cards .card h4{
       text-align: center;
       color: #ff751a;
       padding: 6px;
   }
   .cards .card h6{
       text-align: center;
       color: rgb(101, 98, 98);
       padding: 6px;
       font-size: 20px;
   }
   .cards .card button{
       text-align: center;
       color: black;
       padding: 2px;
       width: 150px;
       color: white;
       background-color: #ff751a;
       border-radius: 12px;
       border: none;
       margin: auto;
   }
   .cards .card div{
       text-align: center;
       color: rgb(101, 98, 98);
       padding: 6px;
       font-size: 15px;
   }

   /* view button*/
.view-button{
    text-align: center;
    margin-bottom: 100px;
   }
   .view{
       padding: 12px;
       width: 200px;
       color: white;
       background-color: #ff751a;
       border: none;
       border-radius: 10px;
       font-size: 20px;
   }
   /* cards-2 */
   .dept-cards2 h2 span,.dept-cards2 h2 b{
       color: #ff751a;
   }

   /*sana code*/
   .subhead{
    color:#ff8f21;
}
h{
    margin-right: 15px;
}
.new{
    position:absolute;
    color:white;
    left:8px;
}
.whatsapp{
    background-color: #d5e8d3;   
    padding:10px;
    margin-top: 10px;
}
.whatsapp:hover{
    background-color: #fdd8b0;
}
.info{
    border:solid #b4b4b4 1px;
    
}
footer{
    background-color: #ff8f21;
}
.logo{
    background-color: #ff8f21;
    border:white solid 1px;
   
}
.aboutus .text-center:last-of-type{
    text-align: justify!important;
    padding: 20px;
}

/*responsive*/
@media (max-width:500px) and (min-width:100px){
    body{
        width:100vw;
    }
    .border{
        position: absolute;
        left:10%;   
        width: 80vw;
        height: 70%; 
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .button{
        margin-bottom: 20px!important;
    }
    .btn-group{
        margin-top: 15px!important;
        display: flex!important;
        align-items: center!important;
    }
    .dept-cards2 .cards .card{
        width: 250px!important;
        height: 350px!important;
    }
    .dept-cards2 h2{
        font-size: 18px!important;
    }

    .dept-cards2 h2 span{
        display: block;
    }

    .orange{
        padding: 20px;
    }
    .text-banner{
        padding: 0!important;
        height: 200px!important;
        text-align: center;
    }
    .text-banner span{
        display: block;
    }
    .cards{
        width: 250px!important;
        margin: auto;
    }
    .dept-cards2 .cards .card img{
        width: 232px!important;
        display: block;
        margin: auto;
    }
    .dept-cards2 .cards .card .details{
        width: 250px!important;
        padding-right: 20px;
        margin-top: 20px!important;
    }    
    .health-dept .profiles{
        display: flex!important;
        flex-wrap: wrap!important;
    }
    .health-dept .profiles .profile{
        flex: 40%!important;
        padding: 10px;
        height: 120px;
        
    }
    .dept-cards .cards .card{
        width: 250px!important;
        height: 350px!important;
    }
    .orange{
        height:25vh;
    }
    .health-dept{
        margin-top:180px;
    }

    

}