@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
body{
    background-color: white;
    
}
.text1{
    margin:10px;
}
.text1 h2{
    color:#f14f7b;
}
.text1 p{
    color:#8e8e8e;
    font-size: 20px;
}
.card .card-img-top{
    color:#f14f7b;
}
.try{
    display: flex;
    margin: auto 50px;
    padding:50px;
    justify-content: center;
}
.cont{
  width:220px;
  height:220px;
  border:#8e8e8e solid 2px;
  border-radius: 10px; 
  margin:10px;  
}
.cont i{
    width: 60px;
    height:60px;
    margin-top: 10px;
    margin-bottom: 0px;
   justify-content: center;
}
.link{
    text-align: center;
    text-decoration: none;
    color:#f14f7b;
}
/*responsive*/
@media (max-width:450px) and (min-width:100px){
    body{
        width:100vw;
        height:100vh;
        margin:0px;
        padding:0px;
        
    }
    .text1{
        padding:0px;
        margin:0px;
        width:100vw;
    }
    text h2{
        width:90vw;
    }
    text p{
        font-size: 15px;
    }
    .try{
        width:100vw;
        margin:0px;
        padding:0px;
        display:inline;
    }
    .cont{
        width:50vw;
        height:30vh;
        margin:auto;
        margin-bottom: 10px;
        padding:2px;
        
       
    }
    .cont h2{
        width:25vw;
        margin-top: 0px;
        margin-bottom: 0px;
        margin:auto;
    }
    .cont p{
        margin:0px;
       font-size:large;
    }
    .cont img{
        width:30px;
        height:30px;    }
}
